/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
/* Header CSS */
.main-header {
  background-color: #f7f6dc;
  padding: 30px 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* Navigation CSS */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .brand-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #7fb77e;
  text-transform: capitalize;
}
.menu .menu-items {
  display: flex;
  align-items: center;
}
.menu .menu-items li {
  margin-right: 45px;
  list-style: none;
}
.menu .menu-items li:last-child {
  margin-right: 0;
}
.menu .menu-items li a {
  text-decoration: none;
  color: #7fb77e;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
}
.menu .menu-items li a:hover {
  color: #ffc090;
}
/* Banner Area CSS */
.banner-area {
  margin-top: 50px;
}
.banner-content {
  text-align: center;
  padding: 0 200px;
}
.banner-content h1 {
  font-size: 60px;
  line-height: 75px;
  color: #7fb77e;
  text-transform: capitalize;
}
.banner-content h1 span {
  text-transform: lowercase;
}
.banner-content p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 28px 0;
}

.btn-primary {
  display: inline-block;
  background-color: #7fb77e;
  color: #f7f6dc;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 8px;
  transition: transform 0.3s;
}
.btn-primary:hover {
  background-color: #ffc090;
  transform: translateY(10px);
}
.banner-content .btn-primary {
  margin-bottom: 50px;
}
.banner-img img {
  width: 100%;
  border-radius: 8px;
}
/* Features CSS */
.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 80px 40px;
}
.feature-images,
.feature-content {
  width: 50%;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feature-images .image img {
  width: 100%;
  border-radius: 8px;
}
.feature-content {
  padding-right: 120px;
}
.feature-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #171717;
}
.feature-content .bold {
  font-weight: 700;
}
.feature-content .focus {
  font-weight: 700;
  color: #7fb77e;
}
.feature-content p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 24px 0 32px;
}
/* Experiences CSS */
.experiences {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  padding: 50px 0;
}
.experiences .experience-list {
  width: 75%;
}
.experiences .experience-list h2 {
  font-size: 40px;
  color: #171717;
  margin-left: 25px;
  position: relative;
}
.experiences .experience-list h2::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #7fb77e;
  position: absolute;
  left: -25px;
  top: 0;
  border-radius: 20px;
}
.experiences .experience-list p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 24px 0 30px;
}
.experiences .image-box img {
  width: 100%;
  border-radius: 8px;
}
.experiences .experience-list .experience-detail {
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 18px;
}
.experiences .experience-list .experience-detail h4 {
  font-size: 16px;
  color: #171717;
}
.experiences .experience-list .experience-detail p {
  font-size: 14px;
  margin: 10px 0 0;
}
.experiences .image-box {
  position: relative;
}
.experiences .image-box img {
  width: 100%;
}
.experiences .image-box .year-box {
  position: absolute;
  left: -12%;
  bottom: -15px;
  padding: 30px 35px;
  text-align: center;
  background-color: #7fb77e;
  color: #ffffff;
  border-radius: 8px;
}
.experiences .image-box .year-box h3 {
  font-size: 40px;
  font-weight: 700;
}
